*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin

# Keystore
*.keystore
*.jks

# Node & Web
node_modules/
web/node_modules/
web/dist/
*.log

